

.jumbotron {
    text-align: center;
    background: #00a19e;
}

#trainTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#trainTable td,
#trainTable th {
    border: 1px solid #fee7c8;
    padding: 10px;
}

#trainTable tr:nth-child(even) {
    background-color: #fee7c8;
}

#trainTable tr:hover {
    background-color: #fee7c8;
}

#trainTable th {
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #50364c;
    color: white;
}

.min {
    text-align: center;
}

#trainTable #times {
    text-align: center;
}